/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #d6e9e1;
  color: #3c0648;
  font-family: sans-serif;
}

img {
  width: 200px;
}

header {
  text-align: center;
}

p.tagline {
  font-style: italic;
  font-size: 1.4em;
}

p {
  text-align: center;
}

#mc_embed_signup{
  background: #d6e9e1;
  clear: left;
  font-family: sans-serif;
  width: 600px;
  margin: 0 auto;
}

#mc_embed_signup .helper_text {
  background: #d6e9e1 !important;
}